@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Home</h1>
    <div id="configuration-content">
        Loading configuration
    </div>
    <div id='editor_holder'></div>
    <button id='submit'>Save configuration</button>

</div>


<script>
    // Initialize the editor with a JSON schema
    const editor = new JSONEditor(document.getElementById('editor_holder'), {
        ajax: true,
        remove_empty_properties: true,
        schema: {
            type: "object",
            title: "Configuration",
            $ref: "schema_configuration.json"
        }
    });
    console.log(editor)
    // Hook up the submit button to log to the console
    document.getElementById('submit').addEventListener('click', function () {
        // Get the value from the editor
        $.ajax({
            type: 'POST',
            url: '/Home/Save',
            data: { "newValue": JSON.stringify(editor.getValue(), null, 2) },
            success: function () {
                document.getElementById('configuration-content').textContent = 'Configuration Saved !';
            }
        })
    });
    editor.on('ready', () => {
        // Now the api methods will be available
        $.ajax({
            type: 'GET',
            url: '/Home/Configuration',
            success: function (result) {
                editor.setValue(result);
                document.getElementById('configuration-content').textContent = '';
            }
        })
    });
</script>
